@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to the Ultimate File Manager!</h1>
    <button class="btn btn-primary" onclick="window.location.href = '/FileDisplay'"> View Files </button>
    <button class="btn btn-primary" onclick="window.location.href = '/FileUpload'"> Upload Files </button>
</div>

<div>
    <h1> Sign-in</h1>
</div>