@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <h1>Welcome, @User.Identity.Name</h1>
        <a class="btn btn-primary" asp-area="" asp-page="/FileDisplay">View Files</a>
        <a class="btn btn-primary" asp-area="" asp-page="/FileUpload">Upload Files</a>
    } else {
        <h1>Welcome! Make an account and start managing your files today!</h1>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</div>