@page
@model TestUploadModel
@{
    ViewData["Title"] = "File";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
---
<br />
<a asp-page-handler="Download" class="btn btn-primary">Download Most Recent File</a>

