@page
@model TestUploadModel
@{
    ViewData["Title"] = "File";
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-page-handler="Upload" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>
---
<form method="post" asp-page-handler="Download">
    <input type="submit" value="Download Most Recent File" />
</form>

